/* BASIC */

body {
    background-color: rgb(162, 185, 230);
    padding-top: 76px; 
}



/* STRUCTURE */
#chartContainer {
    visibility:hidden
}



/* INDIVIDUAL */

.dropdown-menu {
    text-align: center;
}

.navlist {
    font-size: 2em;
}

.navlog {
    font-size: 1.5em;
}

.nav-items-space {
    margin-right:1.5em;
}

.chartblock {
    margin-top:50px;
}

.month {
    display:none;
}

.year {
    display:none;
}

.loader {
    border: 32px solid #f3f3f3;
    border-radius: 50%;
    border-top: 32px solid #3498db;
    border-bottom: 32px solid #3498db;
    width: 240px;
    height: 240px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Animation */

/* Animation for spinning circle */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}