{% extends 'panel/panel_base.html' %}


{% block title %}統計資料頁面{% endblock %}
{% load static %}
{% block css&js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'statistics_panel/style.css' %}">
<script src="{% static 'statistics_panel/statistics_panel.js' %}"></script>
{% endblock %}

{% block content %}
<!--統計區間下拉式選單-->

<div class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
    <!-- Dropdown -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                選取統計時間區間
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="year">年(year)</a>
                <a class="dropdown-item" id="month">月(month)</a>
                <a class="dropdown-item" id="day">日(day)</a>
            </div>
        </li>
    </ul>
</div>
<div class="row justify-content-center pt-5" id="loaderContainer">
    <div id="spin" class="loader"></div>
</div>
<!--統計圖表-->
<div id="chartContainer">
    <div class="day">
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div1" class="col col-md-6 chartblock"></div>
            <div id="chart_div2" class="col col-md-6 chartblock"></div>
        </div>
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div3" class="col col-md-6 chartblock"></div>
            <div id="chart_div4" class="col col-md-6 chartblock"></div>
        </div>
        <div id="chart_div5" class="chartblock"></div>
    </div>

    <div class="month">
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div1" class="col col-md-6 chartblock"></div>
            <div id="chart_div2" class="col col-md-6 chartblock"></div>
        </div>
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div3" class="col col-md-6 chartblock"></div>
            <div id="chart_div4" class="col col-md-6 chartblock"></div>
        </div>
        <div id="chart_div5" class="chartblock"></div>
    </div>

    <div class="year">
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div1" class="col col-md-6 chartblock"></div>
            <div id="chart_div2" class="col col-md-6 chartblock"></div>
        </div>
        <div class="row ml-auto mr-auto md-lg-5">
            <div id="chart_div3" class="col col-md-6 chartblock"></div>
            <div id="chart_div4" class="col col-md-6 chartblock"></div>
        </div>
        <div id="chart_div5" class="chartblock"></div>
    </div>
</div>
{% endblock %}