{% extends 'panel/panel_base.html' %}


{% block title %}使用者資料{% endblock %}
{% load static %}

{% block css&js %}
<link rel="stylesheet" type="text/css" href="{% static 'user_panel/style.css' %}">
<script src="{% static 'user_panel/user_panel.js' %}"></script>
{% endblock %}

{% block content %}

<div style="text-align:center; padding-top:5em;">
    <img src="{% static 'user_panel/leaves.svg' %}" style="width: 20%;" id="icon" alt="Plot Icon" />
</div>
<div class="row justify-content-center" style=" padding-bottom: auto;">
    <table id="userForm" class="table table-hover table-striped col-10" style="text-align: center;">
        <tr>
            <th><h4>Name</h4></th>
            <td>
                <h4>{{ user }}</h4>
            </td>
            <td></td>
        </tr>
        <tr>
            <th><h4>Password</h4></th>
            <td></td>
            <td><button type="button" class="btn btn-secondary btn-sm" name="passwordReset" data-toggle="modal"
                    data-target="#passwordModal">Change</button></td>
        </tr>
        <tr>
            <th><h4>Email</h4></th>
            <td>
                <h4>{{ email }}</h4>
            </td>
            <td><button type="button" class="btn btn-secondary btn-sm" name="emailReset" data-toggle="modal"
                    data-target="#emailModal">Change</button></td>
        </tr>
        <tr>
            <th><h4>Plant</h4></th>
            <td>
                <h4>{{ plantname }}</h4>
            </td>
            <td><button type="button" class="btn btn-secondary btn-sm" name="plantnameReset" data-toggle="modal"
                    data-target="#plantnameModal">Change</button></td>
        </tr>
    </table>
</div>
<div class="row justify-content-center">
    <div style="text-align: center;">
        <button type="button" class="btn btn-danger justify-content-center" data-toggle="modal"
            data-target="#resetPlantModal">Rest Plant Data</button>
    </div>
</div>

<!-- Modal for handling password reset -->
<div class="modal fade" id="passwordModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Password Reset</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="passwordForm">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="oldPassword" class="col-form-label">Your old password:</label>
                        <input type="password" class="form-control" name="oldPassword">
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-form-label">Your new password:</label>
                        <input type="password" class="form-control" name="newPassword">
                    </div>
                    <div class="form-group row">
                        <label for="confirmPassword" class="col-form-label">Reconfirm new password:</label>
                        <input type="password" class="form-control" name="confirmPassword">
                    </div>
                </form>
                <div class="alert alert-danger" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnPassword" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for handling email reset -->
<div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Email Reset</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="emailForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newEmail" class="col-form-label">Your new email:</label>
                        <input type="email" class="form-control" name="newEmail">
                    </div>
                </form>
                <div class="alert alert-danger" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnEmail" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for handling plantname reset -->
<div class="modal fade" id="plantnameModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Plantname Reset</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="plantnameForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newPlantname" class="col-form-label">Your plant's new name:</label>
                        <input type="text" class="form-control" name="newPlantname">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnPlantname" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for reseting plant -->
<div class="modal fade" id="resetPlantModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                <h4>After confirm, the data of previous plant will be unaccessible, are you sure?</h4>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnPlantReset" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}