<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <title>plantdata</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%load bootstrap4%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'realtime_panel/style.css' %}">
</head>

<body role="document" style="background-color: rgb(162, 185, 230); padding-top: 70px;">
    <!--導覽列-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

        <!--應用名稱-->
        <a class="navbar-brand" href="/realtime_panel/" style="font-size: 2em;">植物監測系統</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav" style="font-size: 2em;">
                <li class="nav-item active" style="margin-right:1.5em;"><a class="nav-link" href="#">主介面</a></li>
                <li class="nav-item"><a class="nav-link" href="/statistics_panel/">統計數據</a></li>
            </ul>
        </div>


        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav " style="font-size: 1.5em;">
                <li class="nav-item"><a class="nav-link" href="#">{{user}}</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout/">退出</a></li>
            </ul>
        </div>
    </nav>

    <!--及時資料表-->
    <div class="row justify-content-md-center" style="padding-top: 80px;">
        <div class="col col-md-6 ">
            <table class="table table-striped" style="font-size: 4vw;">
                <tr>
                    <td>溫度: </td>
                    <td>30&#176 C</td>
                </tr>
                <tr>
                    <td>土壤濕度: </td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>氣壓:</td>
                    <td>1013.25hPa</td>
                </tr>
                <tr>
                    <td>光照: </td>
                    <td>200lm</td>
                </tr>
            </table>
        </div>

        <!--控制面板-->
        <div id="control_panel" class="col col-md-6 ">
            <h1>自動灑水</h1>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <h1>光線開關</h1>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label><br />

            <div id="manual_watering">
                <h2>手動澆花按鈕</h2>

                <div class="btn-group" id="toggle_event_editing">
                    <button type="button" class="btn btn-info locked_active">OFF</button>
                    <button type="button" class="btn btn-default unlocked_inactive">ON</button>
                </div>
                <div class="alert alert-info" id="switch_status">手動澆花關閉.</div>

            </div>
        </div>
    </div>
    </div>


    <script>
        $('#toggle_event_editing button').click(function () {
            if ($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')) {
                /* code to do when unlocking */
                $('#switch_status').html('開始澆花.');
            } else {
                /* code to do when locking */
                $('#switch_status').html('手動澆花關閉.');
            }

            /* reverse locking status 
               eq(0): for button whose index is 0
               eq(1): for button whose index is 1
             */
            $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
            $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
        });
    </script>
</body>

</html>