<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入頁面</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%load bootstrap4%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
</head>

<body style="background-color: rgb(162, 185, 230);">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2>SmartPot</h2>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{% static 'index/plant.svg' %}" id="icon" alt="Plot Icon" />
            </div>

            <!-- Register Form -->
            <form method="POST" action="/register_action/">
                {% csrf_token %}
                <input id="username" name="username" type="text" placeholder="username"><br>
                <input id="password" name="password" type="password" placeholder="password"><br>
                <input id="password" name="passwordcheck" type="password" placeholder="retype password"><br>
                <input id="email" name="email" type="text" placeholder="emailAddress"><br>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                
                <button id="btn" type="submit">送出</button>
            </form>
        </div>
    </div>
</body>

</html>