/* Basic */


/* Responsive image */
img {
    width: 100%;
    height:auto;
}


/* Structure */


.custom-container-width {
    max-width: 100%;
}

#scoringBlock {
    margin-bottom: 5vh;
    height:20vh;
}

#control_panel {
    height:80%;
    box-sizing: border-box;
    border: solid black 5px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    text-align: center;
}


/* Components */


/* manual watering switch button and info panel */

#manual_watering button {
    font-size:7vh;
}

#switch_status {
    float:right;
    width: 100%;
    height: 12vh;
}

