<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'account_base/style.css' %}">
</head>

<body style="background-color: rgb(162, 185, 230);">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2>SmartPot</h2>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{% static 'account_base/plant.svg' %}" id="icon" alt="Plot Icon" />
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>